:root {
    --primary-color: #000000;
    --secondary-color: #6b6b6b;
    --link-color: #2BAE66FF;
}

* {
    box-sizing: border-box;
}

html, body,
h1, h2, h3, h4, h5, h6,
p, img, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    outline: none;
}

a:link {
    color: var(--secondary-color);
}

a:visited {
    color: var(--secondary-color);
}

a:hover {
    color: var(--link-color);
}

a:active {
    border-bottom: 1px solid;
}

.container {
    width: min(1200px, 90%);
    margin: 1rem auto;
}

/* Portrait picture */

.portrait {
    text-align: center;
}

.portrait img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* Introduction */

.introduction {
    text-align: center;
}

.introduction h1 {
    color: var(--primary-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.introduction h2 {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

/* Navigation */

.nav {
    text-align: right;
}

.nav ul {
    list-style: none;
}

.nav li {
    display: inline-block;
    width: 3rem;
    font-size: 1rem;
}

/* Contact */

.contact {
    text-align: center;
    color: var(--secondary-color);
}

.contact ul {
    list-style: none;
    font-size: 2rem;
}

.contact li {
    display: inline-block;
    padding: 10px 10px;
}
