:root {
    --primary-color: #000000;
    --secondary-color: #6b6b6b;
    --link-color: blue;
}

* {
    box-sizing: border-box;
}

html, body,
h1, h2, h3, h4, h5, h6,
p, img, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    outline: none;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color);
}

a:focus {
    border-bottom: 1px solid;
    background-color: cadetblue;
 }

 a:hover {
     border-bottom: 1px solid;
     background-color: cornsilk;
 }

 a:active {
     background-color: red;
 }

.container {
    width: min(1200px, 90%);
    margin: 1rem auto;
}

/* Portrait picture */

.portrait {
    text-align: center;
}

.portrait img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* Introduction */

.intro {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.intro h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.intro h2 {
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--secondary-color);
}

.contact {
    text-align: center;
    color: var(--secondary-color);
}


.nav ul {
    list-style: none;
}

.nav li {
    display: inline;
}


.contact ul {
    list-style: none;
    font-size: 2rem;
}

.contact li {
    display: inline;
}


.nav {
    text-align: center;
}
